<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  
  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <acceleration x="1" y="-1"/>
    <jumpSpeed x="0" y="-26"/>
    <initPos x ="10" y="50"/>
    <col w="10" h="32"/>
    <maxSpeed x="360" y="30"/>
    <offPath x="11" y="9"/>
    <spritesheetS name="textures/spritesheet.png"/>
    <animations>
      <animation name="angel_idle" loop="true" speed="1.0">
        <frame height="24" width="25" y="131" x="0"/>
        <frame height="24" width="25" y="131" x="29"/>
      </animation>
      <animation name="angel_moving" loop="true" speed="3.0">
        <frame height="24" width="25" y="4" x="0"/>
        <frame height="24" width="25" y="4" x="29"/>
        <frame height="24" width="25" y="4" x="57"/>
      </animation>
      <animation name="angel_jumping" loop="false" speed="2.0">
        <frame height="24" width="25" y="4" x="116"/>
        <frame height="24" width="25" y="4" x="143"/>
        <frame height="24" width="25" y="4" x="169"/>
      </animation>
      <animation name="angel_falling" loop="false" speed="2.0">
        <frame height="24" width="25" y="4" x="196"/>
        <frame height="24" width="25" y="4" x="223"/>
        <frame height="24" width="25" y="4" x="251"/>
      </animation>
    </animations>
  </player>
  
</config>