<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <player>
    <acceleration x="1" y="-1"/>
    <jumpSpeed x="0" y="-26"/>
    <initPos x ="10" y="50"/>
    <col w="10" h="32"/>
    <maxSpeed x="360" y="30"/>
    <offPath x="11" y="9"/>
  </player>
  
  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

</config>